<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="MySourceFolder" value="C:\Users\mlee\Desktop\A"/>
    <add key ="MyDestinationFolder" value="C:\Users\mlee\Desktop\C"/>
    <add key ="MyOverwriteFlag" value="true"/>
  </appSettings>
</configuration>